<!DOCTYPE html>
<html>
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Új végzettség létrehozása</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('create-new-education')"></th:block> /*/-->
</header>

<main class="container">
    <div class="card mb-3">

        <h1 class="my-highest-header card-header">Új végzettség felvitele</h1>

        <div class="card card-body">
            <form th:action="@{/education/create}" th:object="${education}" method="post">
					<input type="hidden" th:field="*{education}"/>

                <!--education-->
                <div class="form-group">
                    <label for="education" class="form-control-label">Végzettség neve:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-pen"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control"
                               th:field="*{education}" id="education"/>
                    </div>
                    <div class="text text-danger"
                         th:if="${#fields.hasErrors('education')}" th:errors="*{education}"></div>
                </div>

                <input type="submit" value="Küldés" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</main>
<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>