<html lang="eng"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.thymeleaf.org">

<header th:fragment="header(activeTab)">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <p class="navbar-brand mr-4">Karbantartás rendszer</p>
       

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">

                <!--Tasks list-->
                <li th:class="${activeTab == 'tasks-list'}? 'active nav-item mr-4' : 'nav-item mr-4'"
                    sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/tasks">Feladat lista</a>
                </li>
				<!--Karbantartó list-->
				<li th:class="${activeTab == 'users-list'}? 'active nav-item mr-4' : 'nav-item mr-4'"
                    sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/users">Karbantartók lista</a>
                </li>
                <!--Create New Task-->
                <li th:class="${activeTab == 'create-new-task'}? 'active nav-item mr-4' : 'nav-item mr-4'"
                    sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/task/create">Új feladat készítése</a>
                </li>
                  <!--device-->
                <li th:class="${activeTab == 'create-new-device'}? 'active nav-item mr-4' : 'nav-item mr-4'"
                    sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/device/create">Új eszköz</a>
                </li>
                
                 <!--Create New education-->
                <li th:class="${activeTab == 'create-new-education'}? 'active nav-item mr-4' : 'nav-item mr-4'"
                    sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/education/create">Új végzettség felvétele</a>
                </li>
                
                 <!--Create New category-->
                <li th:class="${activeTab == 'create-new-category'}? 'active nav-item mr-4' : 'nav-item mr-4'"
                    sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/category/create">Új kategória felvétele</a>
                </li>
                
                 <!--Create New user-->
                <li th:class="${activeTab == 'create-new-user'}? 'active nav-item mr-4' : 'nav-item mr-4'"
                    sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/user/create">Új karbantartó</a>
                </li>
                
                <!--Assign tasks-->
                <li th:class="${activeTab == 'assign-tasks'}? 'active nav-item mr-4' : 'nav-item mr-4'"
                    sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/assignment">Feladat kiosztás</a>
                </li>
                
                <!--Profile-->
                <li th:class="${activeTab == 'profile'}? 'active nav-item mr-4' : 'nav-item mr-4'"
                    sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/profile">Saját profil</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/profile" sec:authentication="name"></a>
                </li>
                <li th:class="${activeTab == 'login'}? 'active nav-item mr-4' : 'nav-item mr-4'"
                    sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">Bejelentekezés</a>
                </li>
                <li>
                    <form class="form-inline my-2 my-lg-0"
                          th:action="@{logout}" method="post"
                          sec:authorize="isAuthenticated()">
                        <button class="btn btn-secondary my-2 my-sm-0 mr-4" type="submit">Kilépés</button>
                    </form>
                </li>
            </ul>

        </div>
    </nav>

</header>
</html>